/* GENERAL */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #f5f8ff;
}

/* TOPBAR */
.topbar {
    background: #490307;
    color: white;
    text-align: center;
    padding: 8px;
    font-size: 14px;
}

/* HEADER */
header .header-main {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    background: white;
}

.logo {
    height: 60px;
    margin-right: 15px;
}

header h1 {
    color: #490307;
    font-size: 28px;
}

/* NAVIGATION */
nav {
    background: #73087e;
    position: relative;
    z-index: 9999;
}

nav {
    background: #73087e;
}

.menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    position: relative;
}

.menu > li > a {
    display: block;
    padding: 15px 25px;
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.menu li:hover {
    background: #94099f;
}


.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #c39bd3 !important;   /* warna putih */
    list-style: none;
    padding: 10px;
    min-width: 200px;
    z-index: 99999;
    border: 1px solid #ddd;
}

/* show submenu */
.menu li:hover .submenu {
    display: block;
}

/* submenu text */
.submenu li a {
    color: white !important;
    text-decoration: none;
    display: block;
    font-weight: 700;
    padding: 8px 10px;
}

/* hover effect submenu */
.submenu li a:hover {
    background: #f2f2f2;
    color: #490307 !important;
}
/* ========================================== */


/* HERO SLIDER */
.hero-slider {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.slide-container {
    position: relative;
}

.slide {
    width: 100%;
    display: none;
}

.slide.active {
    display: block;
}

/* Arrow buttons */
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 12px;
    cursor: pointer;
    font-size: 24px;
    border-radius: 4px;
}

.prev { left: 10px; }
.next { right: 10px; }

.prev:hover, .next:hover {
    background: rgba(0,0,0,0.8);
}

.arrow.left {
    left: 20px;
}

.arrow.right {
    right: 20px;
}


/* CONTENT */
.content {
    padding: 30px;
}

.content h1 {
	color:#4b0082;
}

.content h2 {
    color: white;
    margin-bottom: 10px;
}

.content p {
    line-height: 1.7;
    text-align: justify;
}


/* FOOTER */
footer {
    background: #490307;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}